*{
    margin: 0;
    padding: 0;
}
body{
 /*   background: #302929;*/
 background:url('https://image.freepik.com/free-photo/wedding-concept-wedding-invitation-card-grey-background-with-ribbon-decoration_14098-209.jpg') no-repeat center ;

  background-size: cover;
}
.wrapper{
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%,-50%);
}
.mail{
    width: 300px;
    height: 200px;
    background: grey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    cursor: pointer;
}
.mail:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid  rgb(119, 119, 116);
    border-top:100px solid transparent ;
    border-bottom: 100px solid rgb(75, 75, 73);
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 5;
}

.mail:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-left: 150px solid rgb(119, 119, 116);
    border-right: 150px solid transparent;
    border-top:100px solid transparent ;
    border-bottom: 100px solid rgb(75, 75, 73);
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 4;
}
.cover:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 100px solid  rgb(104, 104, 102);
    border-bottom: 100px solid transparent;
    z-index: 6;
    transform-origin: top;
    transform: rotateX(0deg) ;
    transition: all 1s ease;

}
.letter{
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 10px;
  background: url('https://i.pinimg.com/originals/66/8c/ae/668caeebc4396d67ffd8af271f23c566.png') center;
/*background: url('image/card.PNG');*/

    width: 280px;
    height: 180px;
    border-radius: 20px;
    transition: all 1s  ease;
}

.letter h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: transparent(-50%,-50%);
    font-size:  80px;
    color: #798992;
    font-weight: 900;
}
.mail:hover .cover:before
{
    transform: rotateX(180deg);
    transform: all 1s ease;
}
.mail:hover .letter{

    top: -120px;
    z-index: 6;
    transition: all 1s 1s ease;

    height: 500px;
    width: 500px;
    transform: rotate(-8deg);
}

















